<!-- Fri May 11 23:51:24 CEST 2018 -->
<!-- Generisano na osnovu sablona: htmlpage.ftl -->
<!-- Element modela: GremoNaElektriko::ModelVozila -->

<div ng-controller='ModelVozilaController'>
<h1>ModelVozila</h1>

<input type="text" class="form-control ng-valid ng-dirty" placeholder="Pretraga" data-ng-model="searchKeyword">

<table class="table table-hover">
	<thead>
		<tr>
			<td><a data-ng-click="sortType = 'nazivModelaVozila'">Naziv modela vozila<span
				data-ng-show="sortType == 'nazivModelaVozila'" class="fa fa-caret-down"></span>
			</a></td>
			<td><a data-ng-click="sortType = 'tipPrikljucka.nazivTipaPrikljucka'">Naziv tipa prikljucka <span
				data-ng-show="sortType == 'tipPrikljucka.nazivTipaPrikljucka'" class="fa fa-caret-down"></span>
			</a></td>
			<td><a data-ng-click="sortType = 'markaVozila.nazivMarkeVozila'">Naziv marke vozila <span
				data-ng-show="sortType == 'markaVozila.nazivMarkeVozila'" class="fa fa-caret-down"></span>
			</a></td>
		</tr>
	</thead>

	<tbody>

		<tr data-ng-repeat="x in modelVozilaList | orderBy:sortType:sortReverse | filter:filterFunction ">
			<td>{{x.nazivModelaVozila }}</td>
			<td>{{x.tipPrikljucka.nazivTipaPrikljucka}}</td>
			<td>{{x.markaVozila.nazivMarkeVozila}}</td>
			
			<td>
				<button type="button" class="btn btn-info" data-ng-click="openUpdateModal(x)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="button" class="btn btn-danger" data-ng-click="deleteModelVozila(x)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<button type="button" class="btn btn-info" data-ng-click="openCreateModal()">Dodaj</button>

<div id="createModelVozilaModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Dodavanje</h4>
			</div>
			<div class="modal-body">
				<form name="createForm">
					<input type="text" placeholder="Naziv modela vozila" data-ng-model="modelVozila.nazivModelaVozila" maxlength="30" required><br>
					<label for="selectTipPrikljucka">Tip prikljucka </label>
					<select name="selectTipPrikljucka" id="selectTipPrikljucka" ng-model="modelVozila.tipPrikljucka.id" required>
						<option ng-repeat="x in tipPrikljuckaList" value="{{x.id}}">
							{{x.nazivTipaPrikljucka}} 
						</option>
					</select>
					<label for="selectMarkaVozila">Marka vozila </label>
					<select name="selectMarkaVozila" id="selectMarkaVozila" ng-model="modelVozila.markaVozila.id" required>
						<option ng-repeat="x in markaVozilaList" value="{{x.id}}">
							{{x.nazivMarkeVozila}} 
						</option>
					</select>
				<br>
				</form>
			</div>
			<div class="modal-footer">
				<button data-ng-click="createModelVozila()" class="btn btn-primary" data-ng-disabled="!createForm.$valid">U redu</button>
				<input type="button" class="btn btn-primary" value="Otkaži" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>

<div id="updateModelVozilaModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Izmena</h4>
			</div>
			<div class="modal-body">
				<form name="updateForm">
						<input type="text" placeholder="Naziv modela vozila" data-ng-model="modelVozila.nazivModelaVozila"  required><br>
					<label for="updateSelectTipPrikljucka">Tip prikljucka </label>
					<select id="updateSelectTipPrikljucka" required>
						<option data-ng-repeat="x in tipPrikljuckaList" value="{{x.id}}">
								{{x.nazivTipaPrikljucka}} 
						</option>
					</select>
					<label for="updateSelectMarkaVozila">Marka vozila </label>
					<select id="updateSelectMarkaVozila" required>
						<option data-ng-repeat="x in markaVozilaList" value="{{x.id}}">
								{{x.nazivMarkeVozila}} 
						</option>
					</select>
				<br>
				</form>
			</div>
			<div class="modal-footer">
				<button data-ng-click="updateModelVozila()" class="btn btn-primary" data-ng-disabled="!updateForm.$valid">U redu</button>
				<input type="button" class="btn btn-primary" value="Otkaži" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>
</div>

